{% extends "base-template.html" %} {% block content %}

<main>
  <section class="mobile-header">
    <div class="mobile-header-type-container">
       __               ___                          __  
      /__` |  | |\ |     |  |__| | |\ | |__/ | |\ | / _` 
      .__/ \__/ | \|     |  |  | | | \| |  \ | | \| \__> 
                                                               
      </div>
      <div class="top-image-container">
      <!-- <img src="images/header-img.png""> -->

      <svg width="647" height="878" viewBox="0 0 647 878" fill="none" xmlns="http://www.w3.org/2000/svg">
        <text transform="translate(124.696 215.57) rotate(-54.3198)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="4.91574" y="21.7617"><a href="#lucas">Kristin Lucas and Joe McKay</a></tspan></text>
        <text transform="translate(302.046 95.9482) rotate(-46.5729)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="9.02819" y="21.7617">Hakeem Adam</tspan></text>
        <text transform="translate(101.601 350.382) rotate(-38.5356)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="9.38208" y="21.7617"><a href="#gillen">Rory Gillen and Anna Madeleine Raupach</a></tspan></text>
        <text transform="translate(269.972 291.669) rotate(-29.6716)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="5.91975" y="21.7617"><a href="#pipkin">Everest Pipkin</a></tspan></text>
        <text transform="translate(406.935 295.838) rotate(-21.5011)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="5.98294" y="21.7617">Allison Parrish</tspan></text>
        <text transform="translate(252.381 404.333) rotate(-13.5338)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="7.89157" y="21.7617"><a href="#vasudevan">Roopa Vasudevan</a></tspan></text>
        <text transform="translate(484.887 423.692) rotate(-5.58966)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="5.34036" y="21.7617"><a href="#sutherland">Brian Sutherland</a></tspan></text>
        <text transform="translate(319.386 499.397) rotate(3.65751)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="8.59285" y="21.7617"><a href="#wamburu">Denzel Wamburu</a></tspan></text>
        <text transform="translate(197.433 525.131) rotate(11.6451)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="6.26755" y="21.7617">Mark Anthony</tspan></text>
        <text transform="translate(346.467 615.199) rotate(19.4896)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="7.41802" y="21.7617"><a href="#ash">honor ash</a></tspan></text>
        <text transform="translate(362.107 694.798) rotate(28.4413)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="9.74446" y="21.7617">Marloes de Valk</tspan></text>
        <text transform="translate(217.839 666.344) rotate(36.5552)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="3.7334" y="21.7617">Felix Lenz</tspan></text>
        <text transform="translate(298.214 804.294) rotate(44.5972)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="7.55672" y="21.7617">Jen Liu</tspan></text>
        <text transform="translate(111.02 664.726) rotate(52.4159)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="5.70007" y="21.7617">Stephanie Dick</tspan></text>
        </svg>
        
        
    </div>
  </section>
  <section class="desktop-header">
    <!-- NOTE: I REPLACED LEFT-CONTENT AND RIGHT-CONTENT WITH INFO AND IMAGE, RESPECTIVELY -->
    <!-- sections change left/right orientation with the 'swap' class, which is applied to the 'section' element -->
    <div class="info">
      <div class="header-type-container">
 __                              
/__` |  | |\ |                   
.__/ \__/ | \|                                                
___                          __  
 |  |__| | |\ | |__/ | |\ | / _` 
 |  |  | | | \| |  \ | | \| \__>                           

    </div>

      <div class="col-text-intro">
        <p>
          <p class="eyebrow">Explore</p>
          <a href="solar.html">Solar</a>, <a href="intelligence.html">Intelligence</a>, <a href="materiality.html">Materiality</a>, <a href="limits.html">Limits</a>, <a href="situatedness.html">Situatedness</a>, <a href="networks.html">Networks</a>, 
<a href="projects.html">Projects</a>, <a href="interviews.html">Inteviews</a>, <a href="essays.html">Essay</a>
        </p>
        <p>
          <p class="eyebrow">curatorial statement</p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis
          vel nunc tempor ultrices. Duis eget ex quis nulla dapibus ultricies.
          Praesent aliquam varius magna et convallis. Suspendisse maximus ex sit
          amet orci tincidunt, feugiat imperdiet purus commodo. Cras sapien
          nisl, fringilla et lacus vitae, fringilla elementum purus. Aliquam
          erat neque, ullamcorper vitae interdum a, dictum id massa. Vestibulum
          dignissim justo non est facilisis cursus.
        </p>
        <p>
          In ac rhoncus purus, non pretium nunc. Morbi id diam urna. Etiam
          rutrum non ante eu tristique. Ut sed nisi et sem luctus blandit in ut
          tellus. Nulla a quam ultrices libero maximus maximus in at eros. Donec
          cursus felis quis suscipit ullamcorper. Sed vitae venenatis metus.
          Cras porttitor magna nunc. Nullam non lobortis augue. Praesent sed est
          lacus.
        </p>
        <p>
          Donec maximus urna tortor, eget scelerisque urna sagittis at.
          Vestibulum vehicula, ex id lobortis feugiat, ipsum ipsum aliquet
          purus, vitae rhoncus orci arcu nec augue. Sed congue urna luctus nibh
          varius placerat. Praesent purus ligula, tincidunt nec augue quis,
          pretium lacinia est. Quisque eros eros, mattis ac nibh non, auctor
          iaculis mi. Nam eu ullamcorper libero. Vestibulum eu pellentesque
          massa, eget pellentesque erat. Phasellus ut suscipit ipsum. Maecenas
          iaculis auctor volutpat. Morbi vehicula iaculis neque. Cras pharetra
          imperdiet venenatis.
        </p>

        <p>
          In ac rhoncus purus, non pretium nunc. Morbi id diam urna. Etiam
          rutrum non ante eu tristique. Ut sed nisi et sem luctus blandit in ut
          tellus. Nulla a quam ultrices libero maximus maximus in at eros. Donec
          cursus felis quis suscipit ullamcorper. Sed vitae venenatis metus.
          Cras porttitor magna nunc. Nullam non lobortis augue. Praesent sed est
          lacus.
        </p>
        <p>
          In ac rhoncus purus, non pretium nunc. Morbi id diam urna. Etiam
          rutrum non ante eu tristique. Ut sed nisi et sem luctus blandit in ut
          tellus. Nulla a quam ultrices libero maximus maximus in at eros. Donec
          cursus felis quis suscipit ullamcorper. Sed vitae venenatis metus.
          Cras porttitor magna nunc. Nullam non lobortis augue. Praesent sed est
          lacus.
        </p>
        <p>
          In ac rhoncus purus, non pretium nunc. Morbi id diam urna. Etiam
          rutrum non ante eu tristique. Ut sed nisi et sem luctus blandit in ut
          tellus. Nulla a quam ultrices libero maximus maximus in at eros. Donec
          cursus felis quis suscipit ullamcorper. Sed vitae venenatis metus.
          Cras porttitor magna nunc. Nullam non lobortis augue. Praesent sed est
          lacus.
        </p>
      </div>
    </div>

    <div class="image">
      <!-- <img src="images/test.png" /> -->
      <div class="top-image-container">
        <!-- <img src="images/header-img.png""> -->

        <svg width="647" height="878" viewBox="0 0 647 878" fill="none" xmlns="http://www.w3.org/2000/svg">
          <text transform="translate(124.696 215.57) rotate(-54.3198)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="4.91574" y="21.7617"><a href="#lucas">Kristin Lucas and Joe McKay</a></tspan></text>
          <text transform="translate(302.046 95.9482) rotate(-46.5729)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="9.02819" y="21.7617"><a href="#adam">Hakeem Adam</a></tspan></text>
          <text transform="translate(101.601 350.382) rotate(-38.5356)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="9.38208" y="21.7617"><a href="#gillen">Rory Gillen and Anna Madeleine Raupach</a></tspan></text>
          <text transform="translate(269.972 291.669) rotate(-29.6716)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="5.91975" y="21.7617"><a href="#pipkin">Everest Pipkin</a></tspan></text>
          <text transform="translate(406.935 295.838) rotate(-21.5011)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="5.98294" y="21.7617"><a href="#parrish">Allison Parrish</a></tspan></text>
          <text transform="translate(252.381 404.333) rotate(-13.5338)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="7.89157" y="21.7617"><a href="#vasudevan">Roopa Vasudevan</a></tspan></text>
          <text transform="translate(484.887 423.692) rotate(-5.58966)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="5.34036" y="21.7617"><a href="#sutherland">Brian Sutherland</a></tspan></text>
          <text transform="translate(319.386 499.397) rotate(3.65751)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="8.59285" y="21.7617"><a href="#wamburu">Denzel Wamburu</a></tspan></text>
          <text transform="translate(197.433 525.131) rotate(11.6451)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="6.26755" y="21.7617">Mark Anthony</tspan></text>
          <text transform="translate(346.467 615.199) rotate(19.4896)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="7.41802" y="21.7617"><a href="#ash">honor ash</a></tspan></text>
          <text transform="translate(362.107 694.798) rotate(28.4413)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="9.74446" y="21.7617">Marloes de Valk</tspan></text>
          <text transform="translate(217.839 666.344) rotate(36.5552)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="3.7334" y="21.7617">Felix Lenz</tspan></text>
          <text transform="translate(298.214 804.294) rotate(44.5972)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="7.55672" y="21.7617">Jen Liu</tspan></text>
          <text transform="translate(111.02 664.726) rotate(52.4159)" fill="black" xml:space="preserve" style="white-space: pre" font-family="Courier" font-size="16" font-style="italic" letter-spacing="0em"><tspan x="5.70007" y="21.7617">Stephanie Dick</tspan></text>
          </svg>
          
          
      </div>
    </div>
  </section>

  <!-- SECTION 2 ------------------------ -->
  <section class="swap"  id="lucas">
    <div class="info info-body">
      <div class="body-type-container">
      __     __  ___                      __        __            
|__/ |__) | /__`  |  | |\ |    |    |  | /  `  /\  /__`           
|  \ |  \ | .__/  |  | | \|    |___ \__/ \__, /~~\ .__/           
      __   ___                __        
   | /  \ |__      |\/|  /\  /  ` |__/  /\  \ /
\__/ \__/ |___     |  | /~~\ \__, |  \ /~~\  |  
                                                                          
             </div>
      <div class="col-text-body" >
        <h3>Peckish</h3>
        <div class="themes">
          <a href="solar.html">Qualities of Solar</a> | <a href="intelligence.html">Intelligence</a> | <a href="projects.html">Project</a>
        </div>
        <p class="project-text">
          “Peckish” is the name of this generative browser-based animation, in which a range of urban birds inhabit procedurally generated environments on different servers, and occasionally seek nourishment from objects and organisms they encounter. True to its name, the work scrimps on energy expenditure by enforcing a no-media approach to web design inspired by the resilience and resourcefulness of city-dwelling birds. 
        </p>
        <div class="bios">Biographies</div>
        <p class="project-text">
          <a href="https://kristinlucas.studio/">Kristin Lucas’s</a> (USA) experimental media and performance works explore a web of entanglements between art and life within everyday systems and paradigms. Lucas studied art at The Cooper Union and Stanford University, and she serves as art faculty at University of Texas at Austin. 
        </p>
        <p class="project-text">
          <a href="https://www.joemckaystudio.com/">Joe McKay</a> (USA) is a digital media artist who creates alternative games, interfaces, and experiences with technology. McKay studied art at NSCAD and UC Berkeley and is an alumnus of the Whitney Independent Study Program. He serves as faculty of New Media at SUNY Purchase College.
        </p>
      </div>
    </div>
    <div class="image">
      <a href="http://solarprotocol.net/sunthinking/mckay-lucas/" class="enter-link">
        <div class="enter-button">
        ENTER
        </div>
      </a>
      <div class="image-container">
        <img src="images/index/lucas-mckay-dithered.png">
      </div>
    </div>
  </section>
  <!-- SECTION 3 ------------------------ -->

  <section id="adam">
    <div class="info info-body">
      <div class="body-type-container">
                ___  ___              
|__|  /\  |__/ |__  |__   |\/|     
|  | /~~\ |  \ |___ |___  |  |    
      __             
 /\  |  \  /\   |\/| 
/~~\ |__/ /~~\  |  | 
               </div>
      <div class="col-text-body">
        <h3>The Cult of the Blacksmith</h3>
        <div class="themes">
          <a href="situatedness.html">Situatedness</a> / <a href="projects.html">Project</a>
        </div>
        <p class="project-text">
          In northern Ghanaian oral literature, the blacksmith plays a central role in shaping the relationship between natural resources and technological advancements. Hakeem Adam’s audio essay “The Cult of the Blacksmith” reanimates the rich mythology surrounding this figure, with a keen eye toward how the stories may resonate with contemporary hopes for solar power. 
        </p>
        <div class="bios">Biography</div>
        <p class="project-text">
          <a href="https://hakeemadam.info/">Hakeem Adam</a> (GH) is a Ghanaian digital artist and freelance arts and culture writer exploring the power of narrative. He is the founder and creative director of DANDANO, a Pan-African cultural platform for African film and music criticism and documentation. Hakeem has exhibited internationally and has completed a master's in Digital Media from the University of the Arts, Bremen. 
        </p>
      </div>
    </div>
    <div class="image">
      <a href="adam.html" class="enter-link">
        <div class="enter-button">
        ENTER
        </div>
      </a>
      <div class="image-container">
        <img src="images/index/adam-dithered.png">
      </div>
    </div>
  </section>
<!-- SECTION 2 ------------------------ -->
<section class="swap" id="pipkin">
  <div class="info info-body">
    <div class="body-type-container">
  ___       ___  __   ___  __  ___ 
  |__  \  / |__  |__) |__  /__`  |  
  |___  \/  |___ |  \ |___ .__/  |                               
   __     __                        
  |__) | |__) |__/ | |\ |           
  |    | |    |  \ | | \|                                                                   
           </div>
    <div class="col-text-body">
      <h3>Drift Mine Satellite</h3>
      <div class="themes">
        <a href="limits.html">Limits</a> | <a href="networks.html">Networks</a> | <a href="projects.html">Project</a>
      </div>
      <p class="project-text">
        “Drift Mine Satellite” invites viewers into an interactive game about a fictional repair technician living in an underground limestone mine. The project features the daily maintenance required of the ad hoc communication network connecting the occupants of vacation vehicles overwintering there.
      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        <a href="https://everest-pipkin.com/">Everest Pipkin</a> (USA) is a game developer, writer, and artist from central Texas who lives and works on a sheep farm in southern New Mexico. Their work both in the studio and in the garden follows themes of ecology, tool making, and collective care during collapse. When not at the computer in the heat of the day, you can find them in the hills spending time with their neighbors — both human and non-human.
      </p>
    </div>
  </div>
  <div class="image">
    <a href="http://solarprotocol.net/sunthinking/pipkin/" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/pipkin-dithered.png">
    </div>
  </div>
</section>
<!-- SECTION 2 ------------------------ -->
<section id="gillen">
  <div class="info info-body">
    <div class="body-type-container">
__   __   __          __               ___      
|__) /  \ |__) \ /    / _` | |    |    |__  |\ | 
|  \ \__/ |  \  |     \__> | |___ |___ |___ | \|                                               
          __                                    
 /\  |\ | |  \     /\  |\ | |\ |  /\             
/~~\ | \| |__/    /~~\ | \| | \| /~~\                                                           
           __   ___       ___         ___       
|\/|  /\  |  \ |__  |    |__  | |\ | |__        
|  | /~~\ |__/ |___ |___ |___ | | \| |___                                                     
__             __        __                     
|__)  /\  |  | |__)  /\  /  ` |__|               
|  \ /~~\ \__/ |    /~~\ \__, |  |                                           
           </div>
    <div class="col-text-body">
      <h3>Orbital Decay</h3>
      <div class="themes">
        <a href="materiality.html">Materiality</a> | <a href="networks.html">Networks</a> | <a href="projects.html">Project</a>
      </div>
      <p class="project-text">
        Rory Gillen and Anna Madeleine Raupach put an expiration date on SpaceX satellites in this web based work. <i>Orbital Decay</i> explores the planned obsolescence of satellite technology by tracking their movements and estimating the date of their downfall. Knowing that the average life expectancy of an individual Starlink module is only about five years before it de-orbits and burns up, this work visualizes the condensed lifespans of the digital hardware we launch into space. 
      </p>
      <div class="bios">Biographies</div>
      <p class="project-text">

<a href="https://www.rorygillen.com/">Rory Gillen</a>(AU) is an emerging Australian contemporary artist and researcher based in Ngunnawal and Ngambri land, Australia. His practice focuses on the politics of the networked image, utilizing installations that serve as complex systems. Often using hacked technologies and processes, his practice aims to focus on the ‘cyber-physical membrane’ and the discourses that flow through it.
</p>
<p class="project-text">

<a href="https://www.annamadeleine.com">Anna Madeleine Raupach</a> (AU) is a multidisciplinary artist based on Ngunnawal and Ngambri land, Canberra, Australia, and a Lecturer at the Australian National University School of Art & Design. Her practice spans physical and digital forms to explore how human and machine expression recursively evolves, and to examine how technology shapes our interpretation and expression of climate change.

      </p>
    </div>
  </div>
  <div class="image">
    <a href="http://solarprotocol.net/sunthinking/gillen-raupach/" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/gillen-dithered.png">
    </div>
  </div>
</section>
  <!-- SECTION 2 ------------------------ -->
<section  class="swap" id="vasudevan">
  <div class="info info-body">
    <div class="body-type-container">
 __   __   __   __                           
 |__) /  \ /  \ |__)  /\                      
 |  \ \__/ \__/ |    /~~\                                                           
            __        __   ___                
 \  /  /\  /__` |  | |  \ |__  \  /  /\  |\ | 
  \/  /~~\ .__/ \__/ |__/ |___  \/  /~~\ | \| 
 </div>
    <div class="col-text-body">
      <h3>Rhythm of Access</h3>
      <div class="themes">
        <a href="solar.html">Solar</a> | <a href="limits.html">Limits</a> | <a href="projects.html">Project</a>
      </div>
      <p class="project-text">
        “Rhythm of Access” mirrors the natural rhythms of daylight by turning itself on and off with the sun. Whether the artwork is available to view—and the experience of the viewer as a result—ebbs and flows with the state of the Swarthmore Solar server, which is geographically closest to the artist's physical location. By bending the work to the conditions of nature, instead of forcing nature to abide by the human demand for 24/7 access, Vasudevan denounces the indiscriminate, unending pursuit of scale and novelty, proffering instead a space for a more patient, contemplative, and localized relationship with technology. 

      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        <a href="https://roopavasudevan.com/">Roopa Vasudevan</a> (USA) is a South Asian-American media artist, computer programmer, and researcher, currently based in the part of Lenapehoking now known as Philadelphia. Through a varied creative toolkit that includes data collection practices, systems design, web development, and remix, she seeks to emphasize personal and human experiences, often on an individual or local level, in a time of Big Data and surveillance capitalism.

</p>
    </div>
  </div>
  <div class="image">
    <a href="http://solarprotocol.net/sunthinking/vasudevan/" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/vasudevan-dithered.png">
    </div>
  </div>
</section>
 <!-- SECTION 2 ------------------------ -->
 <section id="sutherland">
  <div class="info info-body">
    <div class="body-type-container">
 __   __                                         
|__) |__) |  /\  |\ |                            
|__) |  \ | /~~\ | \|                                                                             
 __       ___       ___  __                  __  
/__` |  |  |  |__| |__  |__) |     /\  |\ | |  \ 
.__/ \__/  |  |  | |___ |  \ |___ /~~\ | \| |__/ 
   
 </div>
    <div class="col-text-body">
      <h3>Solar Data Explorer</h3>
      <div class="themes">
        <a href="solar.html">Solar</a> | <a href="situatedness.html">Situatedness</a> | <a href="projects.html">Project</a>
      </div>
      <p class="project-text">
        "Solar Data Explorer" responds directly to the Solar Protocol project by creating a longitudinal data visualization of the network. The work is optimized for low energy computing, utilizing open source front end and server tools. 
      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        <a href="https://ischool.utoronto.ca/profile/brian-sutherland/">Brian Sutherland</a> (CA) is researching how the confluence of new, low power sensing computers, short and long range Wi-Fi networks, and sustainable energy systems have the potential to “hybridize” objects and environments and so change the way we interact with information. Brian's PhD thesis is a history of energy harvesting (solar) consumer devices and he is an experienced system administrator, programmer, and sustainable hardware builder.


</p>
    </div>
  </div>
  <div class="image">
    <a href="http://solarprotocol.net/sunthinking/sutherland/" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/sutherland-dithered.png">
    </div>
  </div>
</section>
 <!-- SECTION 2 ------------------------ -->
 <section  class="swap" id="parrish">
  <div class="info info-body">
    <div class="body-type-container">
                  __   __       
 /\  |    |    | /__` /  \ |\ | 
/~~\ |___ |___ | .__/ \__/ | \|                                    
 __        __   __     __       
|__)  /\  |__) |__) | /__` |__| 
|    /~~\ |  \ |  \ | .__/ |  |    
 </div>
    <div class="col-text-body">
      <h3>Solar Powered Dawn Poems</h3>
      <div class="themes">
        <a href="solar.html">Solar</a> | <a href="intelligence.html">Intelligence</a>| <a href="limits.html">Limits</a> | <a href="projects.html">Project</a>
      </div>
      <p class="project-text">
        “Solar Powered Dawn Poems” is a solar-powered poetry generator that only constructs poems about the sun. Its radically limited language model runs on a low-power microcontroller that only operates when drawing sufficient energy from solar panels. By exploring the temporality of solar-powered computing, this work attends to the significant energy costs of statistic forms of intelligence.
      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        <a href="https://www.decontextualize.com/">Allison Parrish</a> (USA) is a computer programmer, poet, and game designer whose teaching and practice address the unusual phenomena that blossom when language and computers meet. She is an Assistant Arts Professor at NYU's Interactive Telecommunications Program. Allison is the co-creator of the board game Rewordable (Clarkson Potter, 2017) and author of several books. Allison is originally from West Bountiful, Utah and currently lives in Brooklyn.
</p>
    </div>
  </div>
  <div class="image">
    <a href="parrish.html" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/parrish-dithered.png">
    </div>
  </div>
</section>
<!-- SECTION 2 ------------------------ -->
<section id="ash">
  <div class="info info-body">
    <div class="body-type-container">
      __        __   __  
|__| /  \ |\ | /  \ |__) 
|  | \__/ | \| \__/ |  \                         
      __                 
 /\  /__` |__|           
/~~\ .__/ |  |      
</div>                           
    <div class="col-text-body">
      <h3>Should data expire? </h3>
      <div class="themes">
        <a href="materiality.html">Materiality</a> | <a href="limits.html">Limits</a> | <a href="texts.html">Essay</a>
      </div>
      <p class="project-text">
        Should data expire? In this essay, honor ash explores entropy and permanence in digital landscapes. How have our personal relationships to data changed as storage has shifted from the physical to the digital realm?
      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        <a href="https://hnr.fyi/honor">honor ash</a> (UK) is an artist living and working in norwich, england. their practice centres around communication, power, language, community, and alienation through the lens of the internet. currently they are focusing on interrogating the relationship between communities and scale in both online and offline contexts, as well as imagining kind and liberated futures and building sustainable ways for their irl community to engage with experimental music and performance.
</p>
    </div>
  </div>
  <div class="image">
    <a href="ash.html" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/ash-dithered.png">
    </div>
  </div>
</section>

<!-- SECTION 2 ------------------------ -->
<section id="lieu">
  <div class="info info-body">
    <div class="body-type-container">
      ___        
   | |__  |\ |   
\__/ |___ | \|                  
        ___      
|    | |__  |  | 
|___ | |___ \__/ 
    </div>
    <div class="col-text-body">
      <h3>Living with Intermittent Infrastructures</h3>
      <div class="themes">
        <a href="networks.html">Networks</a> | <a href="materiality.html">Materiality</a> | <a href="limits.html">Limits</a> | <a href="essays.html">Essay</a>
      </div>
      <p class="project-text">
        This piece addresses the intermittency of network infrastructures in southeast Louisiana. Using the lens of repair and maintenance, the text examines the work of restoring networks after increasingly intense and frequent storms along the coast.
      </p>
      <div class="bios">Biography</div>
      <p class="project-text">

        <a href="https://www.jenliujenliu.com/">Jen Lieu</a> (USA) is a researcher, designer, and artist. Her work investigates the ecological, social, and political implications of computing technologies and infrastructures. She uses ethnographic and design methods to understand these challenges and build alternatives for livable and equitable futures. Jen’s recent research is on the impact of climate change on Internet infrastructures in southeast Louisiana. She is currently a PhD student in Information Science at Cornell University. 
</p>
    </div>
  </div>
  <div class="image">
    <a href="lieu.html" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/lieu-dithered.png">
    </div>
  </div>
</section>
<!-- SECTION 2 ------------------------ -->
<section id="dick" class="swap">
  <div class="info info-body">
    <div class="body-type-container">
 __  ___  ___  __                    ___ 
/__`  |  |__  |__) |__|  /\  |\ | | |__  
.__/  |  |___ |    |  | /~~\ | \| | |___                                        
 __     __                               
|  \ | /  ` |__/                         
|__/ | \__, |  \                                                                  
    </div>
    <div class="col-text-body">
      <h3>Artificial Intelligence</h3>
      <div class="themes">
        <a href="intelligence.html">Intelligence</a> | <a href="essays.html">Essay</a>
      </div>
      <p class="project-text">
        In this essay, computer historian Stephanie Dick examines the history of artificial intelligence. By revisiting some key moments in the field, she considers how it has always been characterized by an ever changing definition of intelligence.

      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        Stephanie Dick (USA) is an Assistant Professor in the School of Communication at Simon Fraser University. Her research and teaching are informed by her background in STS and History of Science, with a focus on computing, mathematics, and artificial intelligence since the Second World War. She is the co-editor, with Janet Abbate, of Abstractions and Embodiments: New Histories of Computing and Society, published by Johns Hopkins University Press.
</p>
    </div>
  </div>
  <div class="image">
    <a href="dick.html" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/dick-dithered.png">
    </div>
  </div>
</section>
<!-- section -->
<section id="pasek">
  <div class="info info-body">
    <div class="body-type-container">
                ___      
 /\  |\ | |\ | |__       
/~~\ | \| | \| |___                          
 __        __   ___      
|__)  /\  /__` |__  |__/ 
|    /~~\ .__/ |___ |  \ 
    </div>
    <div class="col-text-body">
      <h3>On Being Anxious About Digital Carbon Emissions</h3>
      <div class="themes">
        <a href="networks.html">Networks</a> | <a href="materiality.html">Materiality</a> | <a href="essays.html">Essay</a>
      </div>
      <p class="project-text">
        In this essay, media scholar Anne Pasek discusses the carbon implications of online research and cultural practices. As so many workers suffer from Zoom exhaustion and laptop induced carpal tunnel syndrome, how should we be thinking about the carbon footprint of our online gatherings and practices? How have recent experiments with low-carbon infrastructure, such as Solar Protocol, illuminated this question in different ways?

      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        <a href=https://www.annepasek.com>Anne Pasek</a> (CA) is an interdisciplinary researcher working at the intersections of climate communication, the environmental humanities, and science and technology studies. She studies how carbon becomes communicable in different communities and media forms, to different political and material effects. She is an Assistant Professor in the Department of Cultural Studies and the School of the Environment at Trent University, as well as the Canada Research Chair in Media, Culture and the Environment.
        
</p>
    </div>
  </div>
  <div class="image">
    <a href="pasek.html" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/pasek-dithered.png">
    </div>
  </div>
</section>
<!-- section -->
<section id="devalk" class="swap">
  <div class="info info-body">
    <div class="body-type-container">
           __        __   ___  __     
|\/|  /\  |__) |    /  \ |__  /__`    
|  | /~~\ |  \ |___ \__/ |___ .__/                                            
__   ___                              
|  \ |__     \  /  /\  |    |__/       
|__/ |___     \/  /~~\ |___ |  \       
                                                 
    </div>
    <div class="col-text-body">
      <h3>rosa’s Ecofeminist Dictionary (rED)</h3>
      <div class="themes">
        <a href="networks.html">Networks</a> | <a href="materiality.html">Materiality </a> | <a href="situatedness,html">Situatedness </a> | <a href="essays.html">Essay</a>
      </div>
      <p class="project-text">
        Rosa's Ecofeminist Dictionary (RED) is a network of people, practices, and terms, the result of many conversations with those who have logged in and out of a server called 'rosa' in the past year. rosa was the protagonist of the project 'A Traversal Network of Feminist Servers,' which de Valk participated in to find out what the practices around feminist servers reveal about creating a smaller environmental footprint, and to find out if there is such a thing as an ecofeminist server.


      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        <a href="https://bleu255.com/~marloes/">Marloes de Valk</a> (NL) is a software artist and writer in the post-despair stage of coping with the threat of global warming and being spied on by the devices surrounding her. She is a PhD researcher at the Centre for the Study of the Networked Image at London South Bank University, in collaboration with The Photographer's Gallery, and a thesis supervisor at the master Experimental Publishing at Piet Zwart Institute in Rotterdam.

</p>
    </div>
  </div>
  <div class="image">
    <a href="devalk.html" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/de-valk-dithered.png">
    </div>
  </div>
</section>
<!-- section -->
<section id="zhang">
  <div class="info info-body">
    <div class="body-type-container">
               __   ___    
   /\  |    | /  ` |__     
  /~~\ |___ | \__, |___   
                                                            
  \ / |  |  /\  |\ |       
   |  \__/ /~~\ | \|                               
  __                 __    
   / |__|  /\  |\ | / _`   
  /_ |  | /~~\ | \| \__>                                                                    
    </div>
    <div class="col-text-body">
      <h3>Open Garden</h3>
      <div class="themes">
        <a href="networks.html">Networks</a> | <a href="situatedness.html">Situatedness </a>| <a href="essays.html">Essay</a>
      </div>
      <p class="project-text">
        Open Garden is a video work that documents a durational participatory performance by Alice Yuan Zhang. Streaming on solar power through the decentralized web, a garden plot awaits visitors. The public was then invited to add and negotiate requests for the garden with others online, to be implemented live by the artist each Sunday. 
      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        <a href="https://aliceyuanzhang.com/">Alice Yuan Zhang 张元</a> (USA) is a socially-engaged media artist based in Los Angeles. Along the peripheries of colonialist imagination, she works to bring technology down to earth by devising participatory experiments in interspecies pedagogy, ancestral remembering, and networked solidarity. Alice is a co-founder of the virtual care lab and currently teaches Solidarity Infrastructures at SFPC.
</p>
    </div>
  </div>
  <div class="image">
    <a href="zhang.html" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/zhang-dithered.png">
    </div>
  </div>
</section>
<!-- section -->
<section id="motaghy" class="swap">
  <div class="info info-body">
    <div class="body-type-container">
           __                           
|\/|  /\  |__) |__/                     
|  | /~~\ |  \ | \                                                        
          ___       __                   
 /\  |\ |  |  |__| /  \ |\ | \ /         
/~~\ | \|  |  |  | \__/ | \|  |                                          
      ___  __             __   ___ __    
|__| |__  |__) |\ | |\ | |  \ |__   /    
|  | |___ |  \ | \| | \| |__/ |___ /_                                     
      __  ___       __                  
|\/| /  \  |   /\  / _` |__| \ /        
|  | \__/  |  /~ \  __> |  |  |                                              
    </div>
    <div class="col-text-body">
      <h3>On Hosting</h3>
      <div class="themes">
        <a href="networks.html">Networks</a> | <a href="situatedness.html">Situatedness</a> | <a href="essays.html">Essay</a>
      </div>
      <p class="project-text">
        This project consists of a series of conversations with artists and technologists experimenting with self-hosted servers. These texts explore the implications of these trans-local nodes and discuss community-owned networks, bespoke hardware, and digital sovereignty.
      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        <a href="https://mark-hm.com/">Mark Anthony Hernandez Motaghy</a> (USA) is an artist and cultural worker. They were previously a researcher at The Poetic Justice Group at MIT Media Lab, where Mark investigated decentralized story-telling models and community-driven sculptures. Mark is also the compiler of the zine-book Rehearsing Solidarity: Learning from Mutual Aid, published by Thick Press.
</p>
    </div>
  </div>
  <div class="image">
    <a href="motaghy.html" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/motaghy-dithered.png">
    </div>
  </div>
</section>
<!-- section -->
<section id="lenz">
  <div class="info info-body">
    <div class="body-type-container">
      ___  ___               
      |__  |__  |    | \_/    
      |    |___ |___ | / \                            
            ___      __       
      |    |__  |\ |  /       
      |___ |___ | \| /_       
      </div>
    <div class="col-text-body">
      <h3>RECONFIGURING THE CLOUD</h3>
      <div class="themes">
        <a href="networks.html">Networks</a> | <a href="situatedness.html">Situatedness</a> | <a href="essays.html">Essay</a>
      </div>
      <p class="project-text">
        Since early 2020, Lenz has been running a self-hosted and solar-powered server. These infrastructures, which take planetary boundaries and conditions as their reference for operation, also develop their own quirks as they demand the navigation of personal relationships and domestic intimacies. This text explores some of these idiosyncrasies and the forms of care that are necessary to build and sustain solar-powered servers.
      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        Felix Lenz (AT) is a research-led artist, designer, and filmmaker based in Vienna, Austria. His analytic investigations in geopolitical, ecological, and technological matters translate in meticulous visual outcomes, installations, and strategies. His works have been exhibited and honored internationally. He is currently finishing his masters at the University of Applied Arts Vienna. More can be found on his solar-powered <a href="www.felixlenz.at">website</a>.

</p>
    </div>
  </div>
  <div class="image">
    <a href="lenz.html" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/lenz-dithered.png">
    </div>
  </div>
</section>
<!-- SECTION 2 ------------------------ -->
<section  class="swap" id="wamburu">
  <div class="info info-body">
    <div class="body-type-container">
__   ___      __  ___              
|  \ |__  |\ |  / |__  |            
|__/ |___ | \| /_ |___ |___                                                
                  __        __       
|  |  /\   |\/| |__) |  | |__) |  | 
|/\| /~~\  |  | |__) \__/ |  \ \__/ 
   </div>
    <div class="col-text-body">
      <h3></h3>
      <div class="themes">
       <a href="networks.html">Networks</a>|  <a href="interview.html">Interview</a>
      </div>
      <p class="project-text">
        As part of our ongoing collaboration on Solar Protocol, a planetary network of servers harnessing solar energy to route Internet traffic, two server stewards, Benedetta (Hells Gate server, Queens, NY, USA, @40.762855,-73.9088269) and Denzel (Solar Power for Hackers, Nairobi, Kenya, @-1.303209,36.8473969) recently chatted in an interview about their insights and experiences with stewardship and shared thoughts on the future directions of the project. Both stewards have been actively engaged in caring for and maintaining this solar-powered infrastructure, serving as custodians of nodes and contributing to the network operation over the course of several months. </p>
      </p>
      <div class="bios">Biography</div>
      <p class="project-text">
        <a href="https://roboflank.com ">Denzel Wamburu’s</a> (KE) background is in Mechatronics Engineering, specializing in data and backend engineering. Currently, he is working with a local startup that builds software infrastructure for next-generation entertainment. He has an overwhelming interest in building intelligent systems that get better at decision making over time. Outside work, he loves playing and designing card games, camping, gardening, as well as researching how academic freedom influences innovation.


</p>
    </div>
  </div>
  <div class="image">
    <a href="wamburu.html" class="enter-link">
      <div class="enter-button">
      ENTER
      </div>
    </a>
    <div class="image-container">
      <img src="images/index/wamburu-dithered.png">
    </div>
  </div>
</section>
 

{% endblock %}
